myvenv2/
requirements1.txt


.env

.DS_Store

# ignore the x Depricated or deleted folder
x Depricated or deleted/

# ignore the Z Page Botstrp folder
Z Page Botstrp/

# ignore the SRS.docx file
SRS.docx


# ignore the requirements.txt file
requirements.txt

# ignore the Z LangchainWithGroq folder
Z LangchainWithGroq/

# ignore the Z Junk files folder
Z Junk files/   



# Media files
media/
db.sqlite3

# ignore the media folder
media/

# ignore the db.sqlite3 file
db.sqlite3

# ignore the instructions.txt file
instructions.txt

