

crewai==0.55.2



Django==5.0.7

django-ckeditor==6.7.1

djangorestframework==3.15.2

faiss-cpu==1.8.0.post1
fastapi==0.114.0

google-auth==2.34.0
groq==0.11.0

huggingface-hub==0.24.6

langchain==0.2.16
langchain-cohere==0.1.9
langchain-community==0.2.16
langchain-core==0.2.38
langchain-experimental==0.0.65
langchain-groq==0.1.9
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langsmith==0.1.117

openai==1.44.1
pillow==10.4.0

pypdf==4.3.1
PyPDF2==3.0.1

StackAPI==0.3.1
